*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
.App{
  background-color: rgb(196, 196, 194);
  color: rgb(223, 197, 197);
  font-size: larger;
  text-align: justify;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 13px solid rgb(238, 163, 113);
}
input{
  padding: 10px;
  margin: 10px;
}
.App>form{
  border: 2px  solid black;
  background-color: rgb(97, 122, 122);
  box-shadow: 10px 10px 10px rgb(56, 59, 59);
}
.App>form>h1{
  background-color: blue;
}
